# ==============================
# Configuración del servidor
# ==============================
PORT=4000
NODE_ENV=atlas     # valores posibles: local | atlas

# ==============================
# MongoDB Local
# ==============================
MONGODB_HOST=localhost
MONGO_DATABASE=

# ==============================
# MongoDB Atlas
# ==============================
MONGODB_URI=

# ==============================
# JWT
# ==============================
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES=
JWT_REFRESH_EXPIRES=

# ==============================
# Cloudinary
# ==============================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=